@media screen and (min-width: 450px) {
    #restaurant-container, #reviews-container, #breadcrumb {
        padding: 10px;
   }
    #restaurants-list li {
        margin: 15px 0;
        width: 250px;
   }
}
@media screen and (max-width: 649px) {
    #restaurant-container, #reviews-container, #breadcrumb {
        padding: 12px;
        width: 100%;
   }
    .filter-options {
        flex-direction: column;
        padding-top: 16px;
   }
    #reviews-list li p{
        font-size: 14px;
   }
    #restaurant-name {
        margin: 5px 0 10px;
   }
    #reviews-container h2 {
        margin: 0 0 10px;
   }
    #restaurant-hours td:first-child, #restaurant-hours > tr > td {
        font-size: 14px;
        font-weight: normal;
   }
}
@media screen and (min-width: 650px) and (max-width: 779px) {
    #restaurants-list li {
        width: 250px;
   }
   p, td {
       font-size: 14px;
   }
}
@media screen and (min-width: 780px) {
    #restaurant-container, #reviews-container {
        width: 50%;
   }
    #restaurants-list li {
        min-width: 300px;
        margin: 10px auto;
   }
}
