html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body,td,th,p{
  color: rgb(92, 92, 92);
  font: 16px/1.6 Arial, Helvetica, sans-serif;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}
a {
  color: #cd3333;
  text-decoration: none;
}
a:hover, a:focus {
  color: #5bd876;
  text-decoration: none;
}
a img{
  border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
#maincontent, #breadcrumb {
  max-width: 1200px;
  margin: auto;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(201, 201, 201);
}
#footer {
  background-color: #444;
  color: #ccc;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #cd3333;
  text-align:center;
  display: grid;
  line-height: 1.4;
}
nav h1 {
  margin: auto;
  display: inline-block;
}
nav h1 a {
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 16px 40px;
  list-style: none;
  background-color: #eee;
}
#breadcrumb li {
  display: inline;
}
#breadcrumb li+li:before {
  padding: 10px;
  color: rgb(158, 158, 158);
  content: "/\00a0";
}
#breadcrumb li a {
  color: #cd3333;
  text-decoration: none;
}
#breadcrumb li a:hover {
  color: #0ca50c;
  text-decoration: underline;
  border: none;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
#map-container {
  width: 100%;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color:#cd3333;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.filter-options h2 {
  color: white;
  margin: 0 10px;
}
.filter-options select {
  background-color: #ffffff;
  height: 35px;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
  font-size: 14px;
}
.filter-options label {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #ffffff;
  padding: 20px 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#restaurants-list li {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  min-height: 380px;
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: center;
}
#restaurants-list .restaurant-img {
  display: block;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list .restaurant-info {
  margin: 0 20px;
  height: 150px;
}
#restaurants-list p {
  margin: 0;
  line-height: 1.4;
}
/* ====================== Restaurant Details ====================== */
.inside #map-container {
  background: #f7dba8 none repeat scroll 0 0;
  height: 400px;
  border-bottom: 1px solid rgb(201, 201, 201);
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#restaurant-name {
  color: #cd3333;
  text-transform: uppercase;
}
#restaurant-img {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
}
#restaurant-address {
  color: #cd3333;
  border-bottom: 1px solid #ccc;
}
#restaurant-cuisine {
  background-color: #cd3333;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #cccccc;
  padding: 20px 40px;
}
#restaurant-container {
  width: 38%;
}
#reviews-container {
  padding-bottom: 0;
  width: 62%;
}
#reviews-container h2 {
  color: #cd3333;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 10px 20px 16px;
  position: relative;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td:first-child {
  font-weight: bold;
}
